.floor {
  background-size: contain;
  background-repeat: repeat;
  height: 100%;

  .controls {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__btn {
      margin-left: 0.2%;
      width: 5vh;
      height: 45%;
      border-radius: 999999px;
      outline: none;
      cursor: pointer;
      border: 2px solid black;

      &--active {
        border: 3px solid red;
      }

      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
}
